1. Pandas란?

- 데이터 핸들링 - 판다스 행과 열로 이루어진 2차원 데이터를 효율적으로 가공
    CSV를 DataFrame으로 변경해 데이터의 가공/분석을 편리하게

- "DataFrame" --> 여러개의 행과 열로 이루어진 2차원 데이터를 담는 구조체

2. Pandas 데이터 불러오기

In [ ]:
import pandas as pd

# 구글 코랩 파일 사용하기
from google.colab import drive
drive.mount ("/content/gdrive") # 계정선택 # 액세스하기

In [ ]:
titanic_df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/MachinLearning2/Data/titanic_train.csv')
titanic_df.head()

In [ ]:
print('titanic 변수 type : ', type(titanic_df))
titanic_df

# 맨 처음 열이 자동으로 컬럼 명이 됨
# 첫번째 숫자는 Index 값. DataFrame이 생성되는 순간 고유의 INDEX 값

3. Pandas에서 DataFrame(df) 정보 알아보기

In [ ]:
# 맨 앞에 있는 N개의 로우 반환
titanic_df.head(3)

In [ ]:
# 행과 열 크기를 알아보기 - shape (튜플로 반환)
print('DataFrame 크기: ', titanic_df.shape)

In [ ]:
# 칼럼의 타입, null 데이터 개수, 데이터 분포도 등
titanic_df.info()
# 해석하기

3. Pandas에서 DataFrame(df) 정보 알아보기 / 4. 칼럼명으로 특정 칼럼 반환

In [ ]:
# desoribe() 평균, 최대, 최소
titanic_df.describe()

In [ ]:
# Polass 칼럼의 값의 분포 구성 확인
#1 연산자 내부에 칼럼명을 입력하면 Series 형태로 특정 칼럼 데이터 세트 반환 #. value_counts() 데이터 분포도 확인하기
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
# 순서

titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))

In [ ]:
# 앞의 5개만 추출
titanic_pclass.head()

In [ ]:
value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

In [ ]:
print('titanic_df 데이터 건수: ', titanic_df.shape[0])
print('기본 설정인 dropna=True로 value_counts()')
# value_counts()는 디폴트로 dropna=True이므로 value_counts(dropna=True)와 동일.
print(titanic_df['Embarked'].value_counts())
print(titanic_df['Embarked'].value_counts(dropna=False))

5. Pandas에서 리스트, 딕셔너리, ndarray 상호변환 가능
- 서로 상호 변환 가능함(예시는 리스트만)

In [ ]:
import numpy as np

col_name1=['co11']
list1 = [1, 2, 3]
array1 = np.array(list1)

print('array1 shape:', array1.shape)
# 리스트를 이용해 DataFrame 생성.
df_list1 = pd.DataFrame(list1, columns=col_name1)
print('1차원 리스트로 만든 DataFrame:\n', df_list1)
# 넘파이 ndarray를 이용해 DataFrame 생성.
df_array1 = pd.DataFrame(array1, columns=col_name1)
print('1차원 ndarray로 만든 DataFrame:\n', df_array1)

6. 칼럼 데이터셋 access 하기

In [ ]:
titanic_df['Age_0'] = 0
titanic_df.head(3)

In [ ]:
titanic_df['Age_by_10'] = titanic_df['Age'] * 10
titanic_df['Family_No'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
titanic_df.head(3)

In [ ]:
titanic_df['Age_by_10'] = titanic_df['Age_by_10'] + 100
titanic_df.head(3)

7. 칼럼 데이터셋 삭제

In [ ]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1)
titanic_drop_df.head(3)

In [ ]:
titanic_df.head(3)

In [ ]:
drop_result = titanic_df.drop(['Age_0', 'Age_by_10', 'Family_No'], axis=1, inplace=True)
print('inplace=True 로 drop 후 반환된 값: ', drop_result)
titanic_df.head(3)

In [ ]:
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ####')
print(titanic_df.head(3))

titanic_df.drop([0, 1, 2], axis=0, inplace=True)

print('#### after axis 0 drop ####')
print(titanic_df.head(3))

8. 데이터 셀렉션과 필터링

In [ ]:
print('단일 컬럼 데이터 추출 :\n', titanic_df['Pclass'].head(3))
print('\n여러 컬럼들의 데이터 추출 :\n', titanic_df[['Survived', 'Pclass']].head(3))
print('[] 안에 숫자 index는 KeyError 오류 발생 :\n', titanic_df[0])

In [ ]:
titanic_df[0:2]

In [ ]:
titanic_df[titanic_df['Pclass'] == 3].head(3)

9. iloc, loc

In [ ]:
data = {'Name': ['Younghoon', 'Jaeun', 'Kisung', 'Kitae'],
    'Year': [2011, 2016, 2015, 2015],
    'Gender': ['Male', 'Female', 'Male', 'Male']
    }

data_df = pd.DataFrame (data, index=['one', 'two', 'three', 'four'])
data_df

In [ ]:
data_df.iloc[0, 0]

In [ ]:
# 아래 코드는 오류를 발생시킵니다.
data_df.iloc[0, 'Name']

In [ ]:
# 아래 코드는 오류를 발생시킵니다.
data_df.iloc['one', 0]

In [ ]:
print("Wn 맨 마지막 칼럼 데이터 [:, -1] \n", data_df.iloc[:, -1])
print("Wn 맨 마지막 칼럼을 제외한 모든 데이터 [:, :-1] \n", data_df.iloc[:, :-1])

10. iloc, loc 2

In [ ]:
data_df.loc['one', 'Name']

In [ ]:
# 아래 코드는 오류를 발생합니다.
data_df_reset.loc[0, 'Name']

In [ ]:
print('위치기반 iloc slicing\n', data_df.iloc[0:1, 0], '\n')
print('명칭기반 loc slicing\n', data_df.loc['one':'two', 'Name'])

11. Boolean 인덱싱

In [ ]:
titanic_df = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/MachinLearning2/Data/titanic_train.csv')
titanic_boolean = titanic_df[titanic_df['Age'] > 60]
print (type(titanic_boolean))
titanic_boolean

In [ ]:
titanic_df.loc[titanic_df['Age'] > 60, ['Name', 'Age']].head(3)

In [ ]:
cond1 = titanic_df['Age'] > 60
cond2 = titanic_df['Pclass'] == 1
cond3 = titanic_df['Sex'] == 'female'
titanic_df[cond1 & cond2 & cond3]

12. GroupBy

In [ ]:
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))

In [ ]:
titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby

13. 결손데이터 처리 1

In [ ]:
titanic_df.isna().head(3)

In [ ]:
titanic_df.isna().sum()

13. 결손데잉터 처리 2

In [ ]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

In [ ]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

14. lamda 식 데이터 가공

In [ ]:
def get_square(a):
    return a**2
print('3의 제곱은 :', get_square (3))

In [ ]:
lambda_square = lambda x : x ** 2
print('3의 제곱은 :', lambda_square(3))

In [ ]:
titanic_df['Name_len'] = titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name', 'Name_len']].head(3)

In [ ]:
# 나이에 따라 세분화된 분류를 수행하는 함수 생성.
def get_category(age):
    cat = ''
    if age < 5: cat = 'Baby'
    elif age <= 12: cat = 'Child'
    elif age <= 18: cat = 'Teenager'
    elif age <= 25: cat = 'Student'
    elif age <= 35: cat = 'Young Adult'
    elif age <= 60: cat = 'Adult'
    else : cat = 'Elderly'

    return cat

# lambda 식에 위에서 생성한 get_category() 함수를 반환값으로 지정.
# get_category(X)는 입력값으로 'Age' 컬럼 값을 받아서 해당하는 cat 반환
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : get_category(x))
titanic_df[['Age', 'Age_cat']].head()